# Scraping & Web Parsing
requests
beautifulsoup4

# LangChain & Vector Store
langchain
langchain-community
langchain-ollama
faiss-cpu

# Data Processing & Visualization
pandas
matplotlib

# Web UI untuk Evaluasi
streamlit

# Embedding & NLP
sentence-transformers
torch

# Versi stabil untuk sentence-transformers (butuh ini)
keras==2.11.0
ml-dtypes==0.1.0
